openapi: 3.1.0
info:
  title: Smarter Weather API
  summary: Public REST API for the Smarter Weather developer platform
  description: |
    The public REST API for Smarter Weather (`sw-api`).

    ## Versioning and deprecation

    - Path-based versioning (`/v1/`).
    - Endpoint removal: 6 months notice.
    - Breaking shape changes: 90 days notice.
    - Active deprecations are listed at `GET /.well-known/deprecations`.
    - Non-breaking additions ship without notice.
    - Fields marked `x-stability: experimental` (also flagged in their
      descriptions) are excluded from the 90-day breaking-change
      commitment during Phase 2 closed beta. Stability commitments apply
      to every field at general availability per ADR 001 unless
      explicitly carved out.

    ## Errors

    Error responses (`4xx`, `5xx`) are served with content type
    `application/problem+json` per [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807).
    Successful responses use `application/json`.

    ## Authentication

    Most endpoints require an API key passed as an HTTP Bearer token in the
    `Authorization` header:

    ```
    Authorization: Bearer sw_live_xxxx...
    ```

    Test-mode keys (`sw_test_*`) return live data but are excluded from
    billing meter events. Get a key from the developer dashboard at
    [https://smarterweather.com/developers/dashboard](https://smarterweather.com/developers/dashboard)
    once general availability ships.

    ## Rate limits

    Authenticated operations return rate-limit state on every response via
    `RateLimit-Limit`, `RateLimit-Remaining`, and `RateLimit-Reset`
    headers. Exceeding the rate limit returns `429 Too Many Requests` with a
    `Retry-After` header. See individual operation responses for header
    definitions.

    ## `/v1/weather` include tokens

    `/v1/weather` returns a composite response. The `include` query parameter
    is a comma-separated list of sections to include. Unknown tokens are
    silently ignored. The token set is:

    | Token       | Default | Stability | Description                                       |
    |-------------|:-------:|-----------|---------------------------------------------------|
    | `current`   | yes     | stable    | Current conditions (RTMA + MRMS).                 |
    | `hourly`    | yes     | stable    | Hourly forecast (1-168 hours, default 48).        |
    | `daily`     | yes     | stable    | Daily forecast (1-14 days, default 10).           |
    | `alerts`    | yes     | stable    | Active NWS alerts for the location.               |
    | `outlooks`  | yes     | stable    | SPC convective outlooks for the location.         |
    | `astro`     | yes     | stable    | Sunrise/sunset/moon phase, etc.                   |
    | `location`  | no      | stable    | Echo of the resolved location (lat/lon/name/tz).  |
    | `gis`       | no      | stable    | Geographic metadata (population, timezone, nearest radar site). |
    | `narrations`| no      | experimental | LLM-generated narrative text for current/short-term conditions. |
    | `guidance`  | no      | experimental | Distilled NWS forecaster text-product data (AFD/HWO/SWO/MCD).   |
    | `uncertainty` | no    | experimental | NBM probabilistic sub-objects on hourly and daily forecasts (CONUS/Alaska/Hawaii only). |
    | `nowcast`     | no    | experimental | MRMS radar precipitation nowcast (60 min @ 5-min steps, CONUS first). |
    | `climate`     | no    | experimental | NCEI day-of-year normals for the location, plus per-day departure from normal on `daily[]`. |

    `radar` and `products` (wx visual-products manifest) are **not** in the
    v1 token set. They will land in Phase 5 alongside a separate
    `/v1/radar/*` family, once the public CDN authentication design
    (signed-URL minting or equivalent) is accepted in a follow-up ADR.
  version: 0.1.0
  contact:
    name: Smarter Weather Developer Platform
    url: https://github.com/smarterweather/developer

# Canonical public base URL. Adopted by sw-api at the Phase 2 closed-beta
# launch via Track A.3 PR-0 (#7754) per ADR 013, which supersedes ADR 006's
# "interim execute-api hostname through Phase 5" plan.
#
# SDK generators emit https://api.smarterweather.com as the default base URL
# from this point on. Closed-beta design partners onboarded against the raw
# *.execute-api.us-east-1.amazonaws.com URL (per superseded ADR 006) keep
# working -- the API Gateway URL is unaffected by the CloudFront repointing
# in PR-0 -- but should switch to the canonical hostname before GA.
servers:
  - url: https://api.smarterweather.com
    description: Production

tags:
  - name: Weather
    description: Public weather data endpoints.
  - name: Observations
    description: |
      Surface observations and upper-air soundings sampled at or nearest to a
      point.
  - name: Alerts
    description: NWS weather alert lookups.
  - name: Storms
    description: Severe-weather tracking products (storm tracks, etc.).
  - name: Products
    description: |
      Gridded / vector weather products and derived summaries (risk-zone
      population exposure, etc.).
  - name: Geocode
    description: |
      Forward, reverse, and typeahead geocoding for locations within
      the supported NWS coverage domain (CONUS, AK, HI, PR, GU/MP).
  - name: Health
    description: Service health.
  - name: Meta
    description: Cross-cutting platform endpoints (deprecations, etc.).
  - name: Agriculture
    description: |
      Agriculture-derived indices (Growing Degree Units / GDD) computed on
      read from stored daily temperature extremes.
  - name: Climate
    description: |
      Climatology: long-period day-of-year statistics describing what is
      typical at a location, as distinct from what is forecast.

security:
  - bearerAuth: []

paths:
  /v1/health:
    get:
      operationId: getHealth
      summary: Service health probe.
      description: |
        Returns service readiness and downstream connectivity. Does not require
        authentication.
      tags: [Health]
      security: []
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'

  /v1/status:
    get:
      operationId: getStatus
      summary: Platform data-freshness status.
      description: |
        Returns the current data-freshness status of the weather platform:
        an overall state, per-source states, open incidents, and any active
        provider advisories.

        Every source is continuously evaluated against its expected
        publication cadence across the ingestion, processing, and serving
        stages. States:

        - `ok` — data is flowing within its expected cadence.
        - `degraded` — data is staler than expected but below outage
          thresholds.
        - `outage` — data has been stale long enough to be considered an
          outage. The `incident.cause` field attributes it (e.g.
          `provider_outage` vs `processing_delay`).
        - `no_signal` — the monitor has no signal for this source
          (instrumentation gap, not necessarily a data gap).

        The document regenerates about every 5 minutes; responses carry
        `Cache-Control: public, max-age=60`. This endpoint does **not**
        require authentication, so it stays reachable during the incidents
        it describes — agents and integrations should consult it before
        reporting weather data as current, and may relay `advisories`
        entries to end users.
      tags: [Meta]
      security: []
      responses:
        '200':
          description: Current platform status document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformStatus'
        '502':
          description: The status document could not be retrieved.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Platform status is not configured in this environment.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/weather:
    get:
      operationId: getWeather
      summary: Get blended weather for a location.
      description: |
        Returns a composite blended weather payload for a single location.
        A single call covers current conditions, hourly forecast, daily
        forecast, active alerts, convective outlooks, and astronomical data
        by default; other sections (location echo, geographic metadata,
        narrative text, forecaster guidance) are available via the
        `include` parameter.

        ### Location selector

        Exactly **one** of the following must be provided:

        - `lat` **and** `lon` — latitude/longitude pair.
        - `zip` — 5-digit US ZIP code.
        - `location` — free-text location name (e.g., `"Boston, MA"`,
          `"94043"`, `"Kyiv"`). Resolved by the same upstream geocoder
          that powers the dedicated `/v1/geocode/{search,autosuggest,reverse}`
          endpoints; clients that need geocoding without a weather
          fetch should call those directly.

        Sending more than one selector, or none, returns `400`.

        ### Units

        - `imperial` (default): °F, mph, inHg, mi, in.
        - `metric`: °C, kph, hPa, km, mm.

        SI is not exposed in v1; partners that need SI should convert
        client-side.

        ### Include semantics

        `include` is a comma-separated list. Unknown tokens are silently
        dropped. See the API-level "Include tokens" table in the
        `info.description` for the full token catalog, defaults, and
        stability markers.

        ### Coverage

        Sections that depend on US-only datasets (e.g., `alerts`, some
        `outlooks`, radar-adjacent `gis.nearest_radar` fields) may be
        empty or absent for international locations. Partial-coverage
        scenarios are reported via `meta.warnings[]` with a structured
        code so clients can respond programmatically.
      tags: [Weather]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - $ref: '#/components/parameters/ZipQuery'
        - $ref: '#/components/parameters/LocationQuery'
        - $ref: '#/components/parameters/UnitsQuery'
        - $ref: '#/components/parameters/IncludeQuery'
        - $ref: '#/components/parameters/DaysQuery'
        - $ref: '#/components/parameters/HourlyHoursQuery'
      responses:
        '200':
          description: Blended weather data for the requested location.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weather'
              examples:
                boston:
                  $ref: '#/components/examples/WeatherBoston'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '404':
          $ref: '#/components/responses/Problem404'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/weather/batch:
    post:
      operationId: postWeatherBatch
      summary: Get blended weather for up to 25 locations in one call.
      description: |
        Multi-location form of `GET /v1/weather`. Accepts a JSON body with
        an array of up to 25 locations and returns one F2 weather result
        per input, preserving order.

        ### Locations

        Each entry in `locations[]` follows the same selector rules as
        the single-location endpoint: exactly one of `lat`+`lon`, `zip`,
        or `location` must be set. Mixing selectors in a single entry,
        or omitting all of them, fails that row only — the rest of the
        batch still runs.

        ### Per-location failure semantics

        A single location failure does not fail the whole request. The
        corresponding `results[i]` carries `error` (a structured
        `WeatherBatchError`) instead of `weather`. Callers can detect a
        partial result by scanning for non-null `error` fields on
        `results[]`. Section-level partial failures inside a successfully
        resolved location surface as `weather.meta.warnings[]`, exactly
        as for `GET /v1/weather`.

        ### Shared parameters

        `include`, `units`, `days`, and `hourly_hours` are applied to
        every location; per-location overrides are not supported. Defaults
        match the `GET /v1/weather` defaults.
      tags: [Weather]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherBatchRequest'
            examples:
              twoLocations:
                $ref: '#/components/examples/WeatherBatchRequestTwoLocations'
      responses:
        '200':
          description: Batch result, one entry per input location.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherBatchResponse'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/alerts/{id}:
    get:
      operationId: getAlertById
      summary: Get a single NWS alert by id.
      description: |
        Returns the full alert detail (geometry, spatial metadata,
        affected population, etc.) for a single NWS alert. Accepts
        either a `group_id` (the canonical primary key on the alerts
        table) or a `message_id` (resolved via `nws_alerts_map`);
        callers do not need to disambiguate.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=60`
        to match the upstream cache policy. CDN edge cache is keyed
        on the URL path so cache invalidation tracks alert
        replacement / cancellation events naturally.

        ### Geometry

        `geometry` is a GeoJSON object embedded in the response.
        Clients should treat it as opaque GeoJSON: forward-compat
        fields the upstream pipeline adds without a sw-api release
        pass through unchanged.

        ### Auth

        Standard sw-api Bearer auth applies. Internal first-party
        keys (`sw_internal_web_*`, `sw_internal_ios_*`,
        `sw_internal_og_*`) are accepted alongside `sw_live_*` /
        `sw_test_*` partner keys; the OG-image lambda authenticates
        with the `og` audience.
      tags: [Alerts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: |
            Alert identifier — either `group_id` (canonical primary
            key) or `message_id` (NWS-issued, resolved via
            `nws_alerts_map`). URL-encode embedded dots / colons /
            slashes; the handler `url.PathEscape`s on the wire.
          schema:
            type: string
            minLength: 1
            maxLength: 256
          example: "1.2.3-NWS-WW.SAMPLE.CASE"
      responses:
        '200':
          description: Alert detail for the requested id.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '404':
          $ref: '#/components/responses/Problem404'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/products/{product_id}/exposure-summary:
    get:
      operationId: getProductExposureSummary
      summary: Cumulative population exposure for a risk-zone product.
      description: |
        Returns the total population inside all risk-band polygons at or above
        a threshold level for a risk-zone product's latest issuance — the data
        behind headlines like "~57M under major heat risk".

        Generic across every product that publishes exclusive risk-band
        polygons (NWS HeatRisk today; SPC categorical, WPC flood, and
        winter/cold outlooks later). Because the bands are spatially exclusive,
        a cumulative `>= min_level` figure is a straight sum with no
        double-counting.

        ### Parameters

        `min_level` is the inclusive cumulative threshold on the ordinal
        `risk_level` (e.g. HeatRisk `3` = Major and above). When omitted the
        upstream default (`1`, any elevated risk) applies. `valid_time` selects
        a specific issuance (RFC3339); omit it for the latest.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=60,
        stale-while-revalidate=60`. Edge cache key includes the query string
        so each `min_level` / `valid_time` variant gets its own TTL.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: |
            Risk-zone product identifier (lowercase, digits, underscores),
            e.g. `heatrisk_day1_conus`.
          schema:
            type: string
            pattern: '^[a-z0-9_]+$'
            minLength: 1
            maxLength: 128
          example: "heatrisk_day1_conus"
        - name: min_level
          in: query
          required: false
          description: Inclusive cumulative threshold on the ordinal risk_level.
          schema:
            type: integer
            minimum: 0
          example: 3
        - name: valid_time
          in: query
          required: false
          description: RFC3339 issuance (valid_time) to summarize. Defaults to the latest.
          schema:
            type: string
            format: date-time
          example: "2026-06-30T22:00:00Z"
      responses:
        '200':
          description: Cumulative population-exposure summary.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                type: object
                required: [product_id, min_level, population, feature_count]
                properties:
                  product_id:
                    type: string
                    example: "heatrisk_day1_conus"
                  min_level:
                    type: integer
                    example: 3
                  population:
                    type: integer
                    format: int64
                    description: Total population under risk_level >= min_level.
                    example: 57000000
                  feature_count:
                    type: integer
                    description: Number of risk-band polygons contributing to the sum.
                    example: 2
                  valid_time:
                    type: ["string", "null"]
                    format: date-time
                    description: Issuance the summary was computed for (null if no features).
                    example: "2026-06-30T22:00:00Z"
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/storm-tracks:
    get:
      operationId: getStormTracks
      summary: Get active storm-cell tracks as GeoJSON.
      description: |
        Returns a GeoJSON `FeatureCollection` of active storm-cell
        tracks aggregated from NEXRAD radar products. Each feature
        carries cell metadata (id, site, scan / valid times) plus an
        optional impact section listing affected cities and population
        when `detailed=true` is requested.

        ### Site filter

        `site` is an optional NEXRAD radar site code. The storm-track
        pipeline keys on the 3-letter site code (e.g., `LOT`, `TLX`);
        a 4-letter ICAO (e.g., `KLOT`) is also accepted. Empty `site`
        returns one feature per active radar cell across the network;
        setting `site` filters to that radar. Site IDs are uppercased
        server-side.

        ### Detailed mode

        `detailed=true` requests the LATERAL-joined impact payload
        (`properties.impact.affected_cities`,
        `properties.impact.affected_population`). Detailed responses
        are larger and use a 60s reader cache; the all-sites all-cells
        path uses a 30s cache.

        ### Schema stability

        The GeoJSON `type`, `geometry`, and `properties.cell_id` /
        `properties.site_id` / `properties.scan_time` /
        `properties.valid_time` fields are stable. Other property-bag
        keys (`impact.*`, `category`, etc.) are documented as
        forward-compat: the reader pipeline may add new keys without a
        sw-api release, so consumers should treat unknown keys as
        opaque additive data.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=30,
        stale-while-revalidate=30`. Edge cache key includes the
        full query string (`site` and `detailed`) so each variant
        gets its own TTL.

        ### Auth

        Standard sw-api Bearer auth applies. The legacy CRA storm-tracks
        UI uses `sw_internal_web_*` keys; partners use `sw_live_*`.
      tags: [Storms]
      security:
        - bearerAuth: []
      parameters:
        - name: site
          in: query
          required: false
          description: |
            Optional NEXRAD radar site code. The storm-track pipeline keys
            on the 3-letter site code (e.g., `LOT`); a 4-letter ICAO (e.g.,
            `KLOT`) is also accepted. Empty returns active cells across all
            radar sites.
          schema:
            type: string
            pattern: '^[A-Za-z][A-Za-z0-9]{2,3}$'
            minLength: 3
            maxLength: 4
          example: "LOT"
        - name: detailed
          in: query
          required: false
          description: |
            When `true`, includes the LATERAL-joined impact payload
            (affected cities + populations). When omitted or `false`,
            returns the lightweight cell-only response.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            GeoJSON FeatureCollection. Empty `features` array when no
            active cells are tracked (this is a 200, not a 404 — a 200
            with `{"features": []}` is the canonical "no active storms"
            response).
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/StormTracksFeatureCollection'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/observations:
    get:
      operationId: getObservations
      summary: Get latest METAR station observations as GeoJSON.
      description: |
        Returns a GeoJSON FeatureCollection of METAR surface observations
        ingested from MADIS. By default returns the latest observation per
        station within the last 2 hours. Optional `station`, `hours`, and
        bounding-box (`min_lon`, `min_lat`, `max_lon`, `max_lat`) filters
        are forwarded to the reader.
      tags: [Observations]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - name: station
          in: query
          schema:
            type: string
        - name: hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 24
        - name: min_lon
          in: query
          schema:
            type: number
        - name: min_lat
          in: query
          schema:
            type: number
        - name: max_lon
          in: query
          schema:
            type: number
        - name: max_lat
          in: query
          schema:
            type: number
      responses:
        '200':
          description: GeoJSON FeatureCollection of METAR observations.
          content:
            application/geo+json:
              schema:
                type: object
        '502':
          $ref: '#/components/responses/Problem502'

  /v1/observations/nearest:
    get:
      operationId: getObservationsNearest
      summary: Get nearest METAR station observations.
      description: |
        Returns the N nearest METAR stations to a point, deduplicated to
        the latest observation per station, sorted by distance.
      tags: [Observations]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - name: n
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 1
      responses:
        '200':
          description: GeoJSON FeatureCollection of nearest METAR observations.
          content:
            application/geo+json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Problem400'
        '502':
          $ref: '#/components/responses/Problem502'

  /v1/soundings:
    get:
      operationId: getSoundings
      summary: Get latest RAOB radiosonde soundings as GeoJSON.
      description: |
        Returns a GeoJSON FeatureCollection of RAOB (radiosonde) vertical
        soundings ingested from MADIS. By default returns the latest sounding
        per station within the last 24 hours. Optional `station` and `hours`
        filters are forwarded to the reader.

        Heavy `profile` and `wind_profile` arrays are stripped from bulk
        responses to keep payloads small for map overlays. Use
        `/v1/soundings/nearest` to fetch the full vertical profile for a
        specific site.

        Each feature retains `station_id`, `observed_at`, `elevation_m`,
        `level_count`, `wind_level_count`, and the `derived` indices object
        (see `/v1/soundings/nearest` for field descriptions). The reader
        also injects `valid_time` from the database column.
      tags: [Observations]
      security:
        - bearerAuth: []
      parameters:
        - name: station
          in: query
          schema:
            type: string
        - name: hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 24
      responses:
        '200':
          description: GeoJSON FeatureCollection of RAOB soundings (profile stripped).
          content:
            application/geo+json:
              schema:
                type: object
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/soundings/nearest:
    get:
      operationId: getSoundingsNearest
      summary: Get nearest RAOB radiosonde soundings.
      description: |
        Returns the N nearest RAOB (radiosonde) vertical soundings to a
        point, deduplicated to the latest sounding per station, sorted by
        distance. Soundings are launched at 00Z/12Z, so data can be several
        hours old.

        Each feature carries:

        - `profile` — the pressure-indexed thermodynamic sounding (mandatory
          + significant-temperature levels merged, sorted surface-first) with
          aligned arrays `pressure_hpa`, `height_m` (null at
          significant-temperature-only levels), `temperature_c`, `dewpoint_c`,
          `wind_dir`, `wind_speed_kt`, plus `level_count`.
        - `wind_profile` — a height-indexed wind sounding (mandatory +
          significant-wind levels, sorted ascending by height MSL) with aligned
          arrays `height_m`, `wind_dir`, `wind_speed_kt`, plus
          `wind_level_count`. Use this for hodographs and shear.
        - `derived` — server-computed thermodynamic/kinematic indices
          (metric-raw, every field nullable): `sbcape`/`sbcin`,
          `mucape`/`mucin`, `mlcape`/`mlcin` (J/kg); `lifted_index`,
          `k_index`, `total_totals` (°C); `pwat_mm`; `freezing_level_m`;
          `lcl_*`/`lfc_*`/`el_*` pressure and height; `bulk_shear_0_6km_kt`.
        - station metadata: `station_id`, `observed_at`, `elevation_m`.

        The full `properties` bag is forward-compatible: the reader pipeline
        may add keys without a sw-api release, so treat unknown keys as opaque.
      tags: [Observations]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - name: n
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
            default: 1
      responses:
        '200':
          description: GeoJSON FeatureCollection of nearest RAOB soundings.
          content:
            application/geo+json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Problem400'
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/storm-reports:
    get:
      operationId: getStormReports
      summary: Get recent NWS local storm reports as GeoJSON.
      description: |
        Returns a GeoJSON `FeatureCollection` of recent NWS local storm
        reports (LSR) — observed tornadoes, hail, damaging wind, flood,
        etc. Each feature carries the report's geometry plus a
        `properties` bag with at minimum `valid_time` and the
        report's payload fields (event-type-specific magnitude /
        narrative). The full property bag is forward-compat: the reader
        pipeline may add new keys without a sw-api release, so consumers
        should treat unknown keys as opaque additive data.

        ### Filters

        - `hours` — rolling lookback in whole hours (1 ≤ N ≤ 168). Empty
          falls through to the reader's default window.
        - `type` — single-letter NWS report code (e.g. `T` tornado, `H`
          hail, `W` damaging wind, `F` flood). Server uppercases the
          input before forwarding.
        - `wfo` — 3-letter NWS Weather Forecast Office identifier (e.g.
          `LOT`). Server uppercases the input.

        Filters compose: setting all three returns the AND of each
        filter applied to the reader's recent-reports table.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=30,
        stale-while-revalidate=30`. Edge cache key includes the full
        query string so each filter combination gets its own TTL.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Storms]
      security:
        - bearerAuth: []
      parameters:
        - name: hours
          in: query
          required: false
          description: |
            Rolling lookback window in whole hours (1-168). When empty,
            the reader's default window applies.
          schema:
            type: integer
            minimum: 1
            maximum: 168
          example: 6
        - name: type
          in: query
          required: false
          description: |
            Single-letter NWS report code. Common values include
            `T` (tornado), `H` (hail), `W` (damaging wind), `F` (flood).
          schema:
            type: string
            pattern: '^[A-Za-z]$'
            minLength: 1
            maxLength: 1
          example: "T"
        - name: wfo
          in: query
          required: false
          description: |
            3-letter NWS Weather Forecast Office identifier
            (e.g. `LOT` for Chicago).
          schema:
            type: string
            pattern: '^[A-Za-z]{3}$'
            minLength: 3
            maxLength: 3
          example: "LOT"
      responses:
        '200':
          description: |
            GeoJSON FeatureCollection. Empty `features` array when no
            reports match the filters (200, not 404).
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/StormReportsFeatureCollection'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/nexrad/features:
    get:
      operationId: getNexradFeatures
      summary: Get NEXRAD Level III algorithm-detection overlays as GeoJSON.
      description: |
        Returns a GeoJSON `FeatureCollection` of NEXRAD Level III
        algorithm-detection overlays — Hail Index, Mesocyclone, and
        Tornado Vortex Signature (TVS) — for a single radar site. Each
        feature carries `site_id` plus the product-specific detection
        payload (e.g. probability-of-hail / max hail size, mesocyclone
        or TVS strength) in a forward-compat `properties` bag. Treat
        unknown keys as opaque additive data.

        ### Product selector

        `product` is required and selects which detection layer to
        return: `hail_index`, `mesocyclone`, or `tvs`.

        ### Site selector

        `site` is the 3-letter Level III radar site code (e.g. `TLX`);
        a 4-letter ICAO (e.g. `KTLX`) is also accepted and uppercased
        server-side. As an alternative to `site`, pass `lat` + `lon`
        together to resolve the nearest radar server-side.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=30,
        stale-while-revalidate=30`.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Storms]
      security:
        - bearerAuth: []
      parameters:
        - name: product
          in: query
          required: true
          description: |
            Detection product to return. One of `hail_index`,
            `mesocyclone`, `tvs`.
          schema:
            type: string
            enum: [hail_index, mesocyclone, tvs]
          example: "hail_index"
        - name: site
          in: query
          required: false
          description: |
            NEXRAD Level III radar site code. 3-letter (e.g. `TLX`) or
            4-letter ICAO (e.g. `KTLX`); uppercased server-side. Omit to
            use the `lat`/`lon` nearest-radar fallback.
          schema:
            type: string
            pattern: '^[A-Za-z][A-Za-z0-9]{2,3}$'
            minLength: 3
            maxLength: 4
          example: "TLX"
        - name: lat
          in: query
          required: false
          description: |
            Latitude for nearest-radar resolution. Must be provided
            together with `lon`; ignored when `site` is set.
          schema:
            type: number
            format: double
          example: 35.33
        - name: lon
          in: query
          required: false
          description: |
            Longitude for nearest-radar resolution. Must be provided
            together with `lat`; ignored when `site` is set.
          schema:
            type: number
            format: double
          example: -97.28
      responses:
        '200':
          description: |
            GeoJSON FeatureCollection. Empty `features` array when no
            detections exist for the product/site (200, not 404).
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/NexradFeaturesFeatureCollection'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/tropical:
    get:
      operationId: getTropical
      summary: Get the aggregated NHC tropical overlay as GeoJSON.
      description: |
        Returns a single GeoJSON `FeatureCollection` aggregating the
        latest National Hurricane Center tropical overlay: forecast cone,
        track line, forecast points, and coastal watch/warning segments
        for every active storm, plus the 7-day Tropical Weather Outlook
        (TWO) areas. Each feature carries a `kind` property the client
        uses to pick its renderer (`cone`, `track`, `points`,
        `watch_warning`, `two`); the `properties` bag is forward-compat.

        The endpoint takes no parameters.

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=60,
        stale-while-revalidate=60`.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Storms]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: |
            GeoJSON FeatureCollection. Empty `features` array when no
            tropical systems or outlook areas are active (200, not 404).
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/TropicalFeatureCollection'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/record-events:
    get:
      operationId: getRecordEvents
      summary: Get NWS climate-record events as GeoJSON.
      description: |
        Returns a GeoJSON `FeatureCollection` of NWS climate-record
        events (record high / low temperatures, daily precipitation
        records, etc.) within the requested time window. Each feature's
        `properties` bag carries at minimum `valid_time` plus the
        event-type-specific payload from the reader pipeline. As with
        `/v1/storm-reports`, additional `properties` keys may appear
        without a sw-api release.

        ### Time window

        Exactly one of three selectors is forwarded to the reader:

        1. `date=YYYY-MM-DD` — single-day window
        2. `start=...&end=...` — explicit RFC3339 window (both required
           together)
        3. `hours=N` — rolling lookback (1 ≤ N ≤ 720, i.e. 30 days)

        When more than one selector is set, the precedence is
        `date` > `start+end` > `hours`. The handler enforces this by
        forwarding all three to libs/wxreader, which picks the
        highest-priority selector.

        ### Filters

        - `wfo` — 3-letter NWS Weather Forecast Office identifier.
        - `type` — alphabetic record-event code (2-16 characters, e.g.
          `high`, `low`, `precip`, `snow`).

        ### Caching

        Successful responses carry `Cache-Control: public, max-age=60,
        stale-while-revalidate=60`. Mirrors the reader's
        recordEventsCacheTTL.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Storms]
      security:
        - bearerAuth: []
      parameters:
        - name: hours
          in: query
          required: false
          description: |
            Rolling lookback window in whole hours (1-720). Lowest
            precedence among the time-window selectors.
          schema:
            type: integer
            minimum: 1
            maximum: 720
          example: 168
        - name: date
          in: query
          required: false
          description: |
            ISO-8601 date (YYYY-MM-DD). Highest-precedence time-window
            selector; trumps `start+end` and `hours` when supplied.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2026-05-07"
        - name: start
          in: query
          required: false
          description: |
            RFC3339 timestamp marking the start of the window. Must
            be supplied together with `end`.
          schema:
            type: string
            format: date-time
          example: "2026-05-01T00:00:00Z"
        - name: end
          in: query
          required: false
          description: |
            RFC3339 timestamp marking the end of the window. Must be
            supplied together with `start`.
          schema:
            type: string
            format: date-time
          example: "2026-05-07T00:00:00Z"
        - name: wfo
          in: query
          required: false
          description: 3-letter NWS Weather Forecast Office identifier.
          schema:
            type: string
            pattern: '^[A-Za-z]{3}$'
            minLength: 3
            maxLength: 3
          example: "LOT"
        - name: type
          in: query
          required: false
          description: |
            Alphabetic record-event code (e.g. `high`, `low`,
            `precip`, `snow`). 2-16 characters.
          schema:
            type: string
            pattern: '^[A-Za-z]{2,16}$'
            minLength: 2
            maxLength: 16
          example: "high"
      responses:
        '200':
          description: |
            GeoJSON FeatureCollection. Empty `features` array when no
            record events match the window + filters.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/RecordEventsFeatureCollection'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/geocode/reverse:
    get:
      operationId: getGeocodeReverse
      summary: Reverse-geocode a coordinate to a location.
      description: |
        Resolves a `(lat, lon)` coordinate into a city / nearest-city /
        state / county / IANA timezone tuple. Coverage is the supported
        NWS domain (CONUS, AK, HI, PR, GU/MP); coordinates outside the
        domain return a 404 Problem.

        ### Caching

        Successful responses carry `Cache-Control: public,
        max-age=86400`. The underlying place-name <-> timezone mapping
        changes on the order of years; clients should treat this as a
        long-term cache.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Geocode]
      security:
        - bearerAuth: []
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude in decimal degrees, range [-90, 90].
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 41.8781
        - name: lon
          in: query
          required: true
          description: Longitude in decimal degrees, range [-180, 180].
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -87.6298
      responses:
        '200':
          description: Resolved location metadata.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseGeocodeResponse'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '404':
          $ref: '#/components/responses/Problem404'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/geocode/autosuggest:
    get:
      operationId: getGeocodeAutosuggest
      summary: Typeahead-style location lookup.
      description: |
        Returns up to `count` location candidates whose names match the
        partial `input` string. Designed for client-side typeahead
        widgets: latency is dominated by the reader's PostGIS prefix
        index; `Cache-Control: public, max-age=300` keeps repeated
        keystrokes off the read replica.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Geocode]
      security:
        - bearerAuth: []
      parameters:
        - name: input
          in: query
          required: true
          description: |
            Partial place-name to expand. 2-128 characters, restricted
            to alphanumerics + spaces + `,`, `.`, `-`, and `'`.
          schema:
            type: string
            minLength: 2
            maxLength: 128
            pattern: "^[A-Za-z0-9 ,.\\-']+$"
          example: "Chic"
        - name: count
          in: query
          required: false
          description: |
            Maximum number of results (1-100). Defaults to 10.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
      responses:
        '200':
          description: |
            Match results. Empty `results` array when no candidates
            match the input.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResultsResponse'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/geocode/search:
    get:
      operationId: getGeocodeSearch
      summary: Forward-geocode a place name or US ZIP.
      description: |
        Returns location candidates matching either a 5-digit US `zipcode`
        or a `city` (with optional `state` disambiguator). Exactly one
        of `city` or `zipcode` must be supplied.

        ### Caching

        Successful responses carry `Cache-Control: public,
        max-age=3600`. The underlying place-name <-> ZIP mapping is
        stable on the order of months.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Geocode]
      security:
        - bearerAuth: []
      parameters:
        - name: city
          in: query
          required: false
          description: |
            City name to resolve. Mutually exclusive with `zipcode`.
            Permits the same character set as `autosuggest.input`.
          schema:
            type: string
            minLength: 1
            maxLength: 128
          example: "Chicago"
        - name: state
          in: query
          required: false
          description: |
            Optional 2-letter US state code or full state name to
            disambiguate the city query. Ignored when `zipcode` is set.
          schema:
            type: string
            maxLength: 64
          example: "IL"
        - name: zipcode
          in: query
          required: false
          description: |
            5-digit US ZIP code. Mutually exclusive with `city`.
          schema:
            type: string
            pattern: '^\d{5}$'
            minLength: 5
            maxLength: 5
          example: "60601"
      responses:
        '200':
          description: |
            Match results. Empty `results` array when no candidates
            match the query.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResultsResponse'
        '400':
          $ref: '#/components/responses/Problem400'
        '401':
          $ref: '#/components/responses/Problem401'
        '403':
          $ref: '#/components/responses/Problem403'
        '404':
          $ref: '#/components/responses/Problem404'
        '429':
          $ref: '#/components/responses/Problem429'
        '500':
          $ref: '#/components/responses/Problem500'
        '502':
          $ref: '#/components/responses/Problem502'
        '503':
          $ref: '#/components/responses/Problem503'
        '504':
          $ref: '#/components/responses/Problem504'

  /.well-known/deprecations:
    get:
      operationId: getDeprecations
      summary: List active API deprecations.
      description: |
        Returns the current set of active deprecations as required by the
        public-contract policy summarised in this document's Versioning and
        deprecation section. Empty list when no deprecations are active.
      tags: [Meta]
      security: []
      responses:
        '200':
          description: Current deprecations (possibly empty).
          content:
            application/json:
              schema:
                type: object
                required: [deprecations]
                properties:
                  deprecations:
                    type: array
                    description: Active deprecations.
                    items:
                      $ref: '#/components/schemas/Deprecation'

  /v1/agriculture/growing-degree-days:
    get:
      operationId: getGrowingDegreeDays
      summary: Growing Degree Units (GDU / GDD) for a point.
      description: |
        Returns Growing Degree Units (also called Growing Degree Days) for a
        US point (CONUS, Alaska, Hawaii), computed on read from stored daily
        maximum/minimum temperatures. No GDU grids are stored; the values are
        derived per request from the temperature bundles, so a crop's
        base/upper thresholds and the simple/modified method can be selected
        freely without re-running the pipeline.

        **Two modes:**

        - **Forecast (default).** Without `season_start`, the response carries
          a per-day GDU series across the NBM forecast horizon (`days`).
        - **Season cumulative.** With `season_start` (a `YYYY-MM-DD` local
          date within the ~180-day observed window), the response stitches
          RTMA observed daily history + today's partial (hourly on-read
          rollup) + NBM forecast, returns a `cumulative_total`, and adds a
          per-day `cumulative_gdu` running sum. This is the number a grower
          tracks against crop growth-stage milestones. If part of the season
          window has no observed data, the per-day series still comes back
          `200` but `cumulative_total` is omitted and `meta.gaps` carries an
          `unfilled` span — a partial sum is not a season total.

        **Crops.** Pass a catalog `crop` id (e.g. `corn`, `soybean`,
        `wheat_winter`, `cotton`, `alfalfa`) to use calibrated thresholds, or
        `crop=custom` with `base_temp_c` (and optionally `upper_temp_c` /
        `method`) to supply your own.

        Every response echoes the resolved `method`, `thresholds` (always in
        °C), and a `meta` provenance block (`day_definition`,
        `computation_path`, `source`, `unit`, any `gaps`) so nothing is
        silently assumed.

        Launches behind the `AGRICULTURE_GDD_ENABLED` feature flag: returns
        `404` when the flag is off.
      tags: [Agriculture]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - name: crop
          in: query
          required: true
          description: |
            Crop catalog id (e.g. `corn`, `soybean`, `wheat_winter`,
            `cotton`, `alfalfa`) or `custom` to supply thresholds directly.
          schema:
            type: string
          example: corn
        - name: season_start
          in: query
          required: false
          description: |
            Season/planting start as a `YYYY-MM-DD` local date. Presence
            switches the response into cumulative season-to-date mode. Must be
            within the ~180-day observed-history window.
          schema:
            type: string
            format: date
          example: "2026-05-01"
        - name: days
          in: query
          required: false
          description: Forecast horizon in days (default 10).
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 10
        - name: day_definition
          in: query
          required: false
          description: |
            Daily boundary: `nws` (default; native NBM MaxT/MinT period
            extremes) or `local_calendar` (midnight-to-midnight local day).
          schema:
            type: string
            enum: [nws, local_calendar]
            default: nws
        - name: unit
          in: query
          required: false
          description: |
            Unit system for GDU + temperatures. `imperial` (default) uses
            °F-days; `metric` uses °C-days. Thresholds are always echoed in
            °C regardless.
          schema:
            type: string
            enum: [imperial, metric]
            default: imperial
        - name: base_temp_c
          in: query
          required: false
          description: Custom base threshold in °C. Required when `crop=custom`.
          schema:
            type: number
            format: double
        - name: upper_temp_c
          in: query
          required: false
          description: |
            Custom upper cutoff in °C (enables the modified method). Optional.
          schema:
            type: number
            format: double
        - name: method
          in: query
          required: false
          description: |
            GDU method for custom crops. Defaults based on whether
            `upper_temp_c` is supplied.
          schema:
            type: string
            enum: [simple, modified]
        - name: include_milestones
          in: query
          required: false
          description: Include the crop's growth-stage GDU milestones.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Growing Degree Units for the requested point.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowingDegreeDays'
        '400':
          $ref: '#/components/responses/Problem400'
        '404':
          $ref: '#/components/responses/Problem404'
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/climate/normals:
    get:
      operationId: getClimateNormals
      summary: Day-of-year climate normals for a point.
      description: |
        Returns the 1991-2020 NOAA/NCEI daily climate normals — the average
        high, low and mean temperature for each calendar day, plus the average
        daily precipitation across the contiguous US — for a US point.

        **Normals are climatology, not forecast.** They describe a 30-year base
        period, carry no valid time, and do not change day to day. Use them to
        answer "is tomorrow warmer than usual here?", not "how warm will it
        be?".

        **Where the values come from depends on the point,** and `meta.source`
        says which. Across the contiguous US they are read from NCEI's gridded
        normals at the requested coordinates (the nClimGrid 1/24° mesh, roughly
        5 km), so they describe that point directly: `source` is `grid`.
        Outside CONUS — Alaska, Hawaii, the territories — and for any day the
        grid has no value for, they come from the nearest station record, and
        `source` is `station`, or `mixed` where one series draws on both.

        **A station-sourced normal describes the station, not your point.** The
        response always names the station it resolved and how far away it is
        (`station.distance_km`), since the station lookup is what anchors the
        request either way. Past 50 km, a series carrying station-sourced
        values sets `meta.approximate`; past 150 km no station is considered
        representative and the endpoint returns `404`. A purely gridded series
        is never flagged however far that station happens to sit, because the
        grid value is the point's own normal. Where the flag does apply, NOAA's
        own use limitation is that representativeness degrades with distance,
        and elevation differences matter more than distance alone suggests.

        **Coverage.** The gridded normals cover the contiguous US; the station
        normals add roughly 7,400 US stations including Alaska, Hawaii and the
        territories. Remote points outside CONUS may have no station in range.

        **Precipitation is gridded-only.** `normal_precip` has no station
        equivalent — NCEI's station normals publish no daily precipitation
        normal — so it appears only on days whose `source` is `grid` and is
        omitted everywhere else, including for every point outside CONUS.
        Temperature normals are unaffected.

        Days inside the requested range with no normal available are still
        returned, with the temperature fields omitted and counted in
        `meta.missing_days`, so the series stays aligned with the dates you
        asked for.

        Launches behind the `CLIMATE_NORMALS_ENABLED` feature flag: returns
        `404` when the flag is off.
      tags: [Climate]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LatQuery'
        - $ref: '#/components/parameters/LonQuery'
        - name: start
          in: query
          required: false
          description: |
            First calendar day of the range, `YYYY-MM-DD`. Must be supplied
            together with `end`. Only the month and day are meaningful; the
            year selects which calendar the dates are echoed on.
          schema:
            type: string
            format: date
          example: "2026-07-28"
        - name: end
          in: query
          required: false
          description: |
            Last calendar day of the range (inclusive), `YYYY-MM-DD`. Must be
            supplied together with `start`.
          schema:
            type: string
            format: date
          example: "2026-08-10"
        - name: days
          in: query
          required: false
          description: |
            Range length in days starting today, used when `start` and `end`
            are omitted. Defaults to 14 to cover the forecast horizon.
          schema:
            type: integer
            minimum: 1
            maximum: 366
            default: 14
        - name: unit
          in: query
          required: false
          description: |
            Unit system for the values. `imperial` (default) uses °F and
            inches; `metric` uses °C and millimetres. Standard deviations are
            intervals and scale without the freezing-point offset.
          schema:
            type: string
            enum: [imperial, metric]
            default: imperial
      responses:
        '200':
          description: Climate normals for the requested point.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClimateNormals'
        '400':
          $ref: '#/components/responses/Problem400'
        '404':
          $ref: '#/components/responses/Problem404'
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/point:
    get:
      operationId: getPointValue
      summary: Curated point value(s) for allowlisted stored data.
      description: |
        Returns the latest value of allowlisted stored data sampled at a point,
        with friendly output (canonical `unit`, an optional `category` label,
        `observed_at`, and a staleness flag).

        This is the one curated wrapper over the internal point-query: it serves
        only the `(product, var)` pairs on a server-side **allowlist**, so the
        public surface stays safe and small while every widget/card is
        onboarded by adding an allowlist entry — no new endpoint. Requesting a
        `(product, var)` that is not allowlisted returns `404` (single form) or
        a per-item `not_allowlisted` status (batch form).

        ### Data kinds (transparent to the caller)

        The allowlist entry's kind selects the internal resolution — a
        **scalar** raster/OM cell, or a vector **zone** (point-in-polygon
        outlook, e.g. SPC categorical / fire-weather). Both collapse to one
        answer at a location and share one envelope: `value`/`unit` are present
        for scalars and ordinal bands, `category`/`label` name the band, and a
        point in no band is a valid answer with `value: null` and
        `category: "none"` (not a 404).

        ### Single vs. batch

        - **Single** — `product` + `var` + `lat` + `lon` returns one
          `PointValue`.
        - **Batch** — `select` (multiple `(product, var)`) and/or `points`
          (multiple locations) returns a `PointBatchResponse` of per-point,
          per-value items, each with a `status`. One request can populate a
          whole family card (several metrics) or a map of locations; partial
          conditions (out of domain, not allowlisted, no data) are reported
          per item and never fail the whole request.

        ### Coverage

        Each allowlisted entry carries a coverage domain; a point outside it
        returns `404` (single) or an `out_of_domain` item (batch) without an
        upstream call. Scalar values are sampled from the nearest grid cell
        (products are snapped to a ~1 km grid), so nearby requests share cache
        entries.

        ### Staleness

        `approximate` is `true` when the value is older than the product's update
        cadence allows (e.g. a SPoRT-LIS daily analysis older than ~36 h, an
        MRMS hourly accumulation older than ~3 h).

        ### Caching

        Successful responses carry `Cache-Control` with a `max-age` keyed to the
        product's cadence (SPoRT-LIS daily: 30 min; MRMS QPE hourly: 5 min). The
        service additionally caches by `(product, var, rounded lat/lon)`.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: product
          in: query
          required: false
          description: |
            Allowlisted stored product identifier (lowercase, digits,
            underscores), e.g. `sport_rsm_0_2m_pct_conus`,
            `mrms_qpe_24h_pass2_conus`, or the outlook `spc_day1_categorical`.
            Single form: pair with `var` + `lat` + `lon`. Ignored when `select`
            is provided.
          schema:
            type: string
            pattern: '^[a-z0-9_]+$'
            minLength: 1
            maxLength: 128
          example: sport_rsm_0_2m_pct_conus
        - name: var
          in: query
          required: false
          description: |
            Variable identifier within the product, e.g. `rsm_0_2m_pct`,
            `qpe_24h`, or `risk` for zone outlooks. Ignored when `select` is
            provided.
          schema:
            type: string
            pattern: '^[a-z0-9_]+$'
            minLength: 1
            maxLength: 128
          example: rsm_0_2m_pct
        - name: lat
          in: query
          required: false
          description: Latitude of the point (single form). Ignored when `points` is provided.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 41.9
        - name: lon
          in: query
          required: false
          description: Longitude of the point (single form). Ignored when `points` is provided.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -93.6
        - name: select
          in: query
          required: false
          description: |
            Batch form. One or more `product:var` selectors (each individually
            allowlisted). Repeat the parameter or comma-join within a single
            value, e.g.
            `select=sport_rsm_0_2m_pct_conus:rsm_0_2m_pct&select=spc_day1_categorical:risk`.
            Presence of `select` (or `points`) switches the response to
            `PointBatchResponse`. Max 25 selectors; points × selectors ≤ 500.
          style: form
          explode: true
          schema:
            type: array
            maxItems: 25
            items:
              type: string
              pattern: '^[a-z0-9_]+:[a-z0-9_]+(,[a-z0-9_]+:[a-z0-9_]+)*$'
              minLength: 3
              maxLength: 1024
          example: [sport_rsm_0_2m_pct_conus:rsm_0_2m_pct, spc_day1_categorical:risk]
        - name: points
          in: query
          required: false
          description: |
            Batch form. One or more `lat,lon` locations. Repeat the parameter
            for multiple points (Go query parsing rejects `;`), e.g.
            `points=41.9,-93.6&points=42.0,-93.4`. Presence of `points` (or
            `select`) switches the response to `PointBatchResponse`. Max 100
            points; points × selectors ≤ 500.
          style: form
          explode: true
          schema:
            type: array
            maxItems: 100
            items:
              type: string
              pattern: '^-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?$'
              minLength: 3
              maxLength: 64
          example: ["41.9,-93.6", "42.0,-93.4"]
      responses:
        '200':
          description: |
            The requested value(s). Single form (`product`+`var`+`lat`+`lon`)
            returns a `PointValue`; batch form (`select` and/or `points`)
            returns a `PointBatchResponse`.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PointValue'
                  - $ref: '#/components/schemas/PointBatchResponse'
        '400':
          $ref: '#/components/responses/Problem400'
        '404':
          $ref: '#/components/responses/Problem404'
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

  /v1/outlooks:
    get:
      operationId: getOutlookDetail
      summary: SPC outlook detail for a location, day, and hazard family.
      description: |
        Returns everything the Storm Prediction Center says about one
        outlook day at a point for a hazard family: the risk band, any
        probabilistic hazards (severe only), whether the location falls
        in a hatched significant-severe area, and the forecaster's full
        written discussion.

        This is the drill-down behind a risk area on a map. `GET
        /v1/weather?include=outlooks` already reports the single
        worst-case risk level at a location; this endpoint expands that
        into the per-hazard breakdown and the reasoning behind it.

        ### Hazard families

        `hazard=severe` (default) returns the convective outlook:
        categorical risk plus tornado/wind/hail probabilities, with the
        SWO discussion (`SWODY1`/`SWODY2`/`SWODY3`, or `SWOD48` for days
        4-8). `hazard=fire` returns the fire-weather outlook band
        (`ELEV`/`CRIT`/`EXTM`) and the FWD discussion (`FWDDY1`/
        `FWDDY2`, or `FWDD38` for days 3-8), plus a separate
        `dry_thunderstorm` band (`IDRT`/`SDRT`) when SPC has drawn one --
        the two fire criteria are independent, so either can be present
        without the other. Fire polygons exist for
        days 1-2 only, so a fire request for day 3+ may return a
        narrative with no band. `hazard=rain` returns the WPC Excessive
        Rainfall Outlook band (`MRGL`/`SLGT`/`MDT`/`HIGH`) for days 1-3
        and the QPFERD discussion (one PIL; day is selected from
        `properties.outlook_day`).

        ### Probabilities

        Days 1 and 2 are issued as separate `tornado`, `wind`, and `hail`
        products, so `probabilities` holds one entry per hazard. Day 3
        and beyond issue a single combined `probabilistic` product and
        yield one entry. Values are fractional (`0.15` = 15%). Fire and
        rain outlooks have no probabilistic products; `probabilities` is
        empty for those hazards.

        SPC delineates significant severe as its own polygon rather than
        an attribute of the probability area. Where the two overlap they
        are reported as a single entry carrying both the probability and
        `significant: true`, so a 15% hail area with a hatched overlay
        reads as one hazard rather than two.

        ### Narrative

        `narrative` carries the discussion for the requested family and
        day. It is ingested separately from the outlook polygons, so it
        may be absent for a few minutes after a new issuance, and it is
        omitted rather than erroring when unavailable.

        ### Empty results

        A location outside every outlook polygon is a valid answer: `200`
        with an empty `probabilities` array and no `categorical`. Only an
        upstream failure produces an error.

        ### Caching

        Successful responses are cacheable for 5 minutes. SPC reissues
        the day 1 outlook a handful of times a day.

        ### Auth

        Standard sw-api Bearer auth applies.
      tags: [Weather]
      security:
        - bearerAuth: []
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude in decimal degrees.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 35.48
        - name: lon
          in: query
          required: true
          description: Longitude in decimal degrees.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -97.53
        - name: day
          in: query
          required: false
          description: |
            Outlook day to describe, where 1 is today. Defaults to 1.
          schema:
            type: integer
            minimum: 1
            maximum: 8
            default: 1
          example: 1
        - name: hazard
          in: query
          required: false
          description: |
            Hazard family. `severe` (default) is the SPC convective
            outlook; `fire` is the SPC fire-weather outlook; `rain` is
            the WPC Excessive Rainfall Outlook. Matches the vocabulary
            used by sw-mcp's `get_outlooks`.
          schema:
            type: string
            enum: [severe, fire, rain]
            default: severe
          example: severe
      responses:
        '200':
          description: Outlook detail for the requested day and location.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutlookDetail'
        '400':
          $ref: '#/components/responses/Problem400'
        '502':
          $ref: '#/components/responses/Problem502'
        '504':
          $ref: '#/components/responses/Problem504'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      # `bearerFormat` is informational per OpenAPI 3.1; SDK generators use
      # it as a hint when naming the credential field.
      bearerFormat: sw_live_*|sw_test_*
      description: |
        API key passed as an HTTP Bearer token (RFC 6750):

        ```
        Authorization: Bearer sw_live_xxxx...
        ```

        Keys are issued in two flavors:

        - `sw_live_*` -- production keys; requests are billed and counted
          against rate limits.
        - `sw_test_*` -- test-mode keys; requests return live data but are
          excluded from billing meter events. Useful for CI and local
          development.

        Get a key from the developer dashboard at
        [smarterweather.com/developers/dashboard](https://smarterweather.com/developers/dashboard)
        once general availability ships.

  parameters:
    LatQuery:
      name: lat
      in: query
      description: |
        Latitude. Must be provided together with `lon`. Mutually exclusive
        with `zip` and `location`.
      required: false
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 42.3601
    LonQuery:
      name: lon
      in: query
      description: |
        Longitude. Must be provided together with `lat`. Mutually exclusive
        with `zip` and `location`.
      required: false
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: -71.0589
    ZipQuery:
      name: zip
      in: query
      description: |
        5-digit US ZIP code. Mutually exclusive with `lat`/`lon` and
        `location`.
      required: false
      schema:
        type: string
        pattern: '^\d{5}$'
      example: "02108"
    LocationQuery:
      name: location
      in: query
      description: |
        Free-text location name. Examples: `"Boston, MA"`, `"94043"`,
        `"Kyiv"`. Resolved by an internal geocoder. Mutually exclusive with
        `lat`/`lon` and `zip`.
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 128
      example: "Boston, MA"
    UnitsQuery:
      name: units
      in: query
      description: |
        Unit system for numeric response fields. `imperial` (default) uses
        °F, mph, inHg, mi, in; `metric` uses °C, kph, hPa, km, mm. See the
        `Units` schema returned with every response for the exact label set.
      required: false
      schema:
        type: string
        enum: [imperial, metric]
        default: imperial
    IncludeQuery:
      name: include
      in: query
      description: |
        Comma-separated list of sections to include. See the "Include
        tokens" table in `info.description` for the full catalog, defaults,
        and stability markers. Unknown tokens are silently dropped.
      required: false
      schema:
        type: string
      example: "current,hourly,daily,alerts"
    DaysQuery:
      name: days
      in: query
      description: Number of days for the daily forecast.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 14
        default: 10
    HourlyHoursQuery:
      name: hourly_hours
      in: query
      description: Number of hours for the hourly forecast.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 168
        default: 48

  headers:
    RateLimitLimit:
      description: The request-rate limit for this API key in the current window.
      schema:
        type: integer
        minimum: 0
    RateLimitRemaining:
      description: The number of requests remaining in the current window.
      schema:
        type: integer
        minimum: 0
    RateLimitReset:
      description: Unix epoch seconds at which the current window resets.
      schema:
        type: integer
        minimum: 0
    RetryAfter:
      description: Seconds to wait before retrying after a rate-limit rejection.
      schema:
        type: integer
        minimum: 0

  examples:
    WeatherBoston:
      summary: Composite weather response for Boston, MA (default include, imperial).
      value:
        location:
          lat: 42.3601
          lon: -71.0589
          name: "Boston"
          region: "MA"
          country: "US"
          timezone: "America/New_York"
          county: "Suffolk"
          zip: "02108"
        current:
          time: "2026-04-20T15:00:00Z"
          temperature: 58.4
          feels_like: 56.1
          humidity: 62
          dew_point: 45.2
          pressure: 30.05
          wind_speed: 11.3
          wind_gust: 17.8
          wind_direction: 240
          visibility: 10
          cloud_cover: 35
          uv_index: 5
          precip_rate: 0
          precip_type: "none"
          conditions: "Partly Cloudy"
          icon: "partly-cloudy-day"
          severe: false
        hourly:
          - time: "2026-04-20T16:00:00Z"
            temperature: 59.1
            feels_like: 56.8
            humidity: 60
            wind_speed: 12.1
            wind_direction: 245
            precip_probability: 5
            precip_amount: 0
            conditions: "Partly Cloudy"
            icon: "partly-cloudy-day"
          - time: "2026-04-20T17:00:00Z"
            temperature: 59.6
            feels_like: 57.2
            humidity: 58
            wind_speed: 12.4
            wind_direction: 245
            precip_probability: 5
            precip_amount: 0
            conditions: "Partly Cloudy"
            icon: "partly-cloudy-day"
        daily:
          - date: "2026-04-20"
            high: 61.0
            low: 44.5
            humidity_avg: 55
            wind_speed_max: 14.2
            wind_direction: 240
            precip_probability: 10
            precip_total: 0
            snow_total: 0
            conditions: "Partly Cloudy"
            icon: "partly-cloudy-day"
            day:
              temperature: 61.0
              wind_speed: 14.2
              wind_direction: 240
              precip_probability: 10
              precip_total: 0
              conditions: "Partly Cloudy"
              icon: "partly-cloudy-day"
              narrative: "Partly cloudy with a high near 61. West winds 10 to 15 mph."
            night:
              temperature: 44.5
              wind_speed: 6.8
              wind_direction: 260
              precip_probability: 5
              precip_total: 0
              conditions: "Mostly Clear"
              icon: "mostly-clear-night"
              narrative: "Mostly clear with a low around 45. Winds becoming light."
        alerts: []
        outlooks: []
        astro:
          civil_dawn: "2026-04-20T09:37:00Z"
          sunrise: "2026-04-20T10:05:00Z"
          solar_noon: "2026-04-20T16:47:00Z"
          sunset: "2026-04-20T23:29:00Z"
          civil_dusk: "2026-04-20T23:57:00Z"
          day_length: 48240
          daylight_length: 51600
          moonrise: "2026-04-20T11:42:00Z"
          moonset: "2026-04-21T01:18:00Z"
          moon_phase: 0.15
          moon_phase_name: "Waxing Crescent"
          moon_illumination: 0.22
        units:
          temperature: "F"
          wind_speed: "mph"
          pressure: "inHg"
          visibility: "mi"
          precip_amount: "in"
        attribution:
          sources:
            - "NOAA NBM"
            - "HRRR"
            - "RTMA"
            - "MRMS"
            - "NWS"
            - "JPL Ephemeris"
          notice: "Weather data from NOAA/NWS. Astronomical calculations from JPL ephemerides."
        meta:
          schema_version: "2026-04-20"
          generated_at: "2026-04-20T15:00:04Z"
          freshness:
            - source: "rtma"
              product_id: "rtma_conus_2p5km"
              reference_time: "2026-04-20T14:45:00Z"
              latest_valid: "2026-04-20T14:45:00Z"
              age_seconds: 904
            - source: "hrrr"
              product_id: "hrrr_conus_3km"
              reference_time: "2026-04-20T14:00:00Z"
              latest_valid: "2026-04-20T15:00:00Z"
              age_seconds: 3604
          warnings: []

    WeatherBatchRequestTwoLocations:
      summary: Two locations (one by lat/lon, one by ZIP) with shared `include`.
      value:
        locations:
          - lat: 42.3601
            lon: -71.0589
          - zip: "94043"
        include: "current,daily,alerts"
        units: imperial
        days: 7
        hourly_hours: 48

  schemas:
    # -----------------------------------------------------------------------
    # Health / deprecations / error envelope (existing F1 surfaces)
    # -----------------------------------------------------------------------

    Health:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, degraded]
        reader:
          type: string
          enum: [reachable, unreachable]
          description: Reader (internal data plane) connectivity status.

    Problem:
      type: object
      description: |
        RFC 7807 problem-details object served as `application/problem+json`
        on every `4xx` and `5xx` response.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: A URI reference identifying the problem type.
          example: https://smarterweather.com/errors/invalid-key
        title:
          type: string
          description: Short, human-readable summary of the problem type.
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri
          description: A URI reference identifying the specific occurrence.

    PlatformStatus:
      type: object
      description: |
        Platform data-freshness status document, regenerated ~every 5
        minutes by the freshness monitor. Additional fields may be added
        over time; consumers must ignore unknown fields.
      required: [version, generated_at, overall, sources]
      properties:
        version:
          type: integer
          description: Document schema version.
          example: 1
        generated_at:
          type: string
          format: date-time
          description: When this document was generated (UTC).
        overall:
          type: string
          enum: [ok, degraded, outage, no_signal]
          description: |
            Worst state across customer-facing sources. `ok` means all
            customer-facing weather data is flowing within its expected
            cadence.
        sources:
          type: array
          description: Per-source freshness states.
          items:
            $ref: '#/components/schemas/PlatformStatusSource'
        advisories:
          type: array
          description: |
            Active advisories relayed from upstream data providers (e.g.
            NOAA/NWS service notices) that may explain or foreshadow data
            gaps.
          items:
            $ref: '#/components/schemas/PlatformStatusAdvisory'

    PlatformStatusSource:
      type: object
      required: [source_id, name, provider_id, state, severity]
      properties:
        source_id:
          type: string
          description: Stable source identifier.
          example: goes
        name:
          type: string
          description: Human-readable source name.
          example: GOES ABI Satellite Imagery
        provider_id:
          type: string
          description: Upstream data provider identifier.
          example: noaa
        state:
          type: string
          enum: [ok, degraded, outage, no_signal]
        severity:
          type: string
          enum: [customer_facing, internal]
          description: |
            Whether staleness of this source is visible to end customers
            (`customer_facing`) or only affects internal products
            (`internal`).
        incident:
          type: object
          description: Present when state is not `ok` and an incident is open.
          properties:
            cause:
              type: string
              description: |
                Root-cause attribution, e.g. `provider_outage` (upstream
                stopped publishing), `processing_delay` (data arrived but
                is stuck in the pipeline), `serving_delay`, or
                `poller_stale` (our polling stopped; provider state
                unknown).
              example: provider_outage
            since:
              type: string
              format: date-time
              description: When the incident opened (UTC).
            status:
              type: string
              description: Incident lifecycle status (e.g. open, recovering).

    PlatformStatusAdvisory:
      type: object
      properties:
        title:
          type: string
          description: Advisory headline from the provider.
        provider_id:
          type: string
          example: noaa
        url:
          type: string
          format: uri
          description: Link to the provider's advisory.
        published_at:
          type: string
          format: date-time
          description: When the provider published the advisory (UTC).

    Deprecation:
      type: object
      description: |
        A single active deprecation entry. See the Versioning and
        deprecation section in `info.description` for notice-period rules.
      required: [surface, announced_at, sunset_at, migration]
      properties:
        surface:
          type: string
          description: |
            The deprecated surface, expressed as a stable identifier.
            Common forms include an operation path (`/v1/weather`),
            a parameter reference (`/v1/weather?param=foo`), or a
            response-field JSON Pointer (`/v1/weather#/current/feels_like`).
          example: "/v1/weather?param=legacy_include"
        announced_at:
          type: string
          format: date
          description: ISO 8601 date on which the deprecation was announced.
          example: "2026-04-01"
        sunset_at:
          type: string
          format: date
          description: |
            ISO 8601 date on or after which the deprecated surface may be
            removed (minimum 90 days for shape changes, 6 months for
            endpoint removal per ADR 001).
          example: "2026-07-01"
        migration:
          type: string
          description: |
            Short prose pointer to the replacement surface or migration
            guide. Clients should treat this as documentation, not a
            machine-parseable URL.
          example: "Use the `include=narrations` token instead."

    # -----------------------------------------------------------------------
    # Top-level weather response
    # -----------------------------------------------------------------------

    Weather:
      type: object
      description: |
        Composite blended weather payload returned by `GET /v1/weather`.
        Section presence is controlled by the `include` query parameter;
        every section that is present is the complete shape documented
        below.
      required: [meta, attribution]
      properties:
        location:
          $ref: '#/components/schemas/Location'
        current:
          $ref: '#/components/schemas/Current'
        hourly:
          type: array
          description: Hourly forecast, ordered ascending by `time`.
          items:
            $ref: '#/components/schemas/Hourly'
        daily:
          type: array
          description: Daily forecast, ordered ascending by `date`.
          items:
            $ref: '#/components/schemas/Daily'
        alerts:
          type: array
          description: Active NWS alerts for the location.
          items:
            $ref: '#/components/schemas/Alert'
        outlooks:
          type: array
          description: SPC convective outlooks active for the location.
          items:
            $ref: '#/components/schemas/Outlook'
        astro:
          $ref: '#/components/schemas/Astro'
        gis:
          $ref: '#/components/schemas/GIS'
        units:
          $ref: '#/components/schemas/Units'
        attribution:
          $ref: '#/components/schemas/Attribution'
        narrations:
          $ref: '#/components/schemas/Narrations'
        guidance:
          $ref: '#/components/schemas/Guidance'
        nowcast:
          $ref: '#/components/schemas/Nowcast'
        climate:
          allOf:
            - $ref: '#/components/schemas/ClimateNormals'
          description: |
            Day-of-year climate normals for the location, populated when
            `include=climate` is requested. Identical in shape to the
            `GET /v1/climate/normals` body.

            This block is the normals themselves — what is typical here. For
            how the forecast compares to them, read `daily[].climate`, which
            carries the same normals joined to each forecast day along with
            the signed departure.

            Omitted when no station with normals is near the point; that case
            reports `coverage_limited` in `meta.warnings[]` rather than
            failing the request.
        meta:
          $ref: '#/components/schemas/Meta'

    Nowcast:
      type: object
      description: |
        Minute-scale MRMS radar precipitation nowcast for the queried
        location. Populated when `include=nowcast` is requested.
      properties:
        interval_seconds:
          type: integer
          example: 300
        generated_at:
          type: string
          format: date-time
          description: Nowcast reference (anchor) time from the latest radar frame.
        summary:
          $ref: '#/components/schemas/NowcastSummary'
        points:
          type: array
          items:
            $ref: '#/components/schemas/NowcastPoint'

    NowcastSummary:
      type: object
      properties:
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: [string, "null"]
          format: date-time
        duration_minutes:
          type: [integer, "null"]
        type:
          type: string
        peak_intensity:
          type: string
          enum: [none, light, moderate, heavy]
        already_occurring:
          type: boolean

    NowcastPoint:
      type: object
      required: [time, type, intensity_dbz, intensity]
      properties:
        time:
          type: string
          format: date-time
        type:
          type: string
        intensity_dbz:
          type: number
          format: double
        intensity:
          type: string
          enum: [none, light, moderate, heavy]

    # -----------------------------------------------------------------------
    # Location / current / hourly / daily
    # -----------------------------------------------------------------------

    Location:
      type: object
      description: Resolved location.
      required: [lat, lon, name, timezone]
      properties:
        lat:
          type: number
          format: double
          minimum: -90
          maximum: 90
        lon:
          type: number
          format: double
          minimum: -180
          maximum: 180
        name:
          type: string
          description: Human-readable place name (city or nearest city).
          example: "Boston"
        region:
          type: string
          description: State or region abbreviation.
          example: "MA"
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: "US"
        timezone:
          type: string
          description: IANA timezone identifier.
          example: "America/New_York"
        county:
          type: string
          description: County name (US only).
          example: "Suffolk"
        zip:
          type: string
          description: ZIP code (US only).
          example: "02108"

    Current:
      type: object
      description: |
        Current weather conditions derived from the RTMA + MRMS blend.
      required: [time, conditions, icon]
      properties:
        time:
          type: string
          format: date-time
          description: Observation time (ISO 8601, UTC).
        temperature:
          type: [number, "null"]
          format: double
          description: Temperature (unit per `units.temperature`).
        feels_like:
          type: [number, "null"]
          format: double
          description: Apparent temperature (wind chill or heat index).
        humidity:
          type: [number, "null"]
          format: double
          minimum: 0
          maximum: 100
          description: Relative humidity, percent.
        dew_point:
[...]
